$pad-y: 1rem;
$pad-x: 1.414rem;
$link-color: blue;
$link-color-hover: red;
$t-sec: 0.3s;
$color-black: black;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body, #app, .root {
	height: 100%;
}
.root {
	display: flex;
	flex-direction: column;
}
.app-header {
	display: flex;
	justify-content: start;
}
.app-content {
	border: 1px solid red;
	flex: 1;
	min-height: 0;
	.paned-frame {
		.left {
			overflow-y: scroll;
		}
		.right {
			overflow-y: scroll;
		}
	}
}
.link {
	cursor: pointer;
	color: $link-color;
	text-decoration: underline;
	transition: 
		color $t-sec,
		text-decoration $t-sec;
}
.link:hover {
	color: $link-color-hover;
	text-decoration: none;
}
.boards.table {
	.list {
		display: flex;
		list-style: none;
	}
	.item {
		margin-right: calc($pad-x*0.2);
	}
	.board-item {
	}
	.separate-item:before {
		content: "/";
	}
}
.boards.list {
	.list {
		list-style: none;
	}
	.category-item:not(:first-child) {
		margin-top: calc($pad-y*0.8);
	}
}
.post-form {
	display: inline-block;
	border: 1px solid gray;
	padding: $pad-y $pad-x;
	.name, .email {
		display: block;
		margin-bottom: calc($pad-y*0.5);
		padding: calc($pad-y*0.3) calc($pad-x*0.3);
	}
	.content {
		min-width: 400px;
		min-height: 100px;
		margin-bottom: calc($pad-y*0.5);
		padding: calc($pad-y*0.3) calc($pad-x*0.3);
	}
	.post-btn {
		display: block;
	}
}
.records {
	list-style: none;

	.records-item {
		.top {
			.field {
				margin-left: calc($pad-x*0.2);
			}	
		}
	}
	.records-item:not(:last-child) {
		margin-bottom: calc($pad-y);
	}
}

/* nue */

.nue_paned-frame {
	display: flex;
	height: 100%;
}
.nue_paned-frame--vertical {
	flex-direction: column;
}
.nue_paned-frame__divid {
	cursor: grab;
	background: $color-black;
}
.nue_paned-frame__divid--horizontal {
	width: 2px;
}
.nue_paned-frame__divid--vertical {
	height: 2px;
}

